<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3b85ea83-8e54-4b68-8354-8df0bf106a10/resourceGroups/SENAI/providers/Microsoft.Web/sites/gufi-webapi</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gufi-webapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>4b9788ec-6de6-47c2-8258-997588b3b463</ProjectGuid>
    <PublishUrl>https://gufi-webapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$gufi-webapi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>